name: Run tests

on:
  - push

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        php: [7.4, 8.0, 8.1, 8.2, 8.3, 8.4]
        laravel: ['6.*', '7.*', '8.*', '9.*', '10.*', '11.*', '12.*']
        dependency-version: [prefer-stable]
        include:
          - testbench: 9.*
            laravel: 11.*
          - testbench: 8.*
            laravel: 10.*
          - testbench: 7.*
            laravel: 9.*
          - testbench: 6.*
            laravel: 8.*
          - testbench: 5.*
            laravel: 7.*
          - testbench: 4.*
            laravel: 6.*
          - testbench: 10.*
            laravel: 12.*
        exclude:
          - php: 7.4
            laravel: 9.*
          - php: 7.4
            laravel: 10.*
          - php: 7.4
            laravel: 11.*
          - php: 8.0
            laravel: 10.*
          - php: 8.0
            laravel: 11.*
          - php: 8.1
            laravel: 6.*
          - php: 8.1
            laravel: 7.*
          - php: 8.1
            laravel: 11.*
          - php: 8.2
            laravel: 6.*
          - php: 8.2
            laravel: 7.*
          - php: 8.3
            laravel: 6.*
          - php: 8.3
            laravel: 7.*
          - php: 8.4
            laravel: 6.*
          - php: 8.4
            laravel: 7.*
          - laravel: 12.*
            php: 7.4
          - laravel: 12.*
            php: 8.0
          - laravel: 12.*
            php: 8.1

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: dependencies-laravel-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: pcov

      - name: Install dependencies
        run: |
          composer require "illuminate/broadcasting:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction
          composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover
